.footer-p{
    padding:0;
    margin:0;
    font-size:14px;
    font-weight: 400;
    @include bp-large{
        text-align: center;
    }
}
#site-footer{
    background-color: black;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    letter-spacing: 1px;
    line-height: 2.5em;
    font-weight: 400;
    .outter-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 77px 0;
        width: 80%;
        margin: 0 auto;
        @include bp-large {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-self: center;
            }
        .logo{
            margin-right: 40px;
            text-align: left;
            @include bp-large{
                margin-right: 0;
            }
            .footer_logo{
                max-width: 200px;
            }
        }
        .links{
            margin-right: 40px;
            text-align: left;
            display: flex;
            flex-direction: column;
            color: $white;
            @include bp-large{
                padding: 20px 0;
                text-align: center;
                margin-right: 0;
            }
                a{
                    line-height: 2;
                    font-size:14px;
                    font-weight: 400;
                    color: $white;
                    &:hover{
                        color: $yellow;
                    }
                }
        }
        .location{
            margin-right: 40px;
            text-align: left;
            @include bp-large{
                padding: 20px 0;
                text-align: center;
                margin-right: 0;
            }
            .footer-p{
                &:hover{
                    color: $yellow;
                }
            }
        }
        .social{
            text-align: left;
            @include bp-large{
                text-align: center;
                padding: 20px 0; 
            }
        }
            .social-icons{
                display: flex;
                flex-direction: row;
                padding: 10px 0 ;
                
                @include bp-large{
                    justify-content: center;
                }
                a img:last-child {
                    display: none;  
                  }
                  a:hover img:last-child {
                    display: block;  
                  }
                  a:hover img:first-child {
                    display: none;  
                  }
                .social-logo{
                    width: 42px;
                    height:42px;
                    margin-right: 10px;
                    
                }  
            }
    }
    .governmentWarning{
        border-top: solid #666 .5px;
        font-weight: 300;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 40px 0;;
         .warning{
            color: $white;
            padding-top: 40px;
            line-height: 1.7em;
            font-weight: 500;
            color: $white;
            font-size: 15px;
            font-weight: 300;
            padding-bottom: 50px;
        }
    }
}
