nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0
      
}
.button{
    border: none;
    background-color: white;;
    
}
.hamburger{
        height: 32px;
        width: 32px;
}

ul{ 
    z-index: 1;
    right: 0;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    position: absolute;
    width: 50vw;
    height: 100vh;
    margin:0;
    list-style-type: none;
}
li a {
    color:white;
    text-transform: uppercase;
    text-decoration: none;
   text-align: center;
    transition: 0.3s;
}
li {
    padding: 8px 16px;
    text-align: center;
    
}
li:hover{
    font-size: 22px;
}

.nav-logo{
    width: 100px;
}
.exit{
    color: white;
    font-size: 40px;
}