#nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
    .button{
        border: none;
        background-color: white;
        .nav-logo{
            width: 100px;
        }
    }
    .dropdown-menu{
        display: none;
    }
        .link-large{
            display: flex;
            flex-direction:row;
            li{
             list-style-type: none;
             padding: 10px;
             .large-link{
                color: $black;
                text-transform: uppercase; 
                &:hover{
                    color: $yellow;
                }
                
            }
            }
            .shopping-cart-large{
                width: 20px

            }
          
        }
   
    @include bp-large{
    width: 85%;
   
    .large-nav{
        display: none;
    }
    .dropdown-menu{
        display: block;
  
    .hamburger{
        height: 32px;
        width: 32px;
    }
    ul{ 
        z-index: 2;
        right: 0;
        top: 0;
        background-color:$black;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        overflow-x: hidden;
        transition: opacity 2s linear;
        padding-top: 60px;
        padding-bottom:60px;
        padding-left:0px;
        position: absolute;
        width: 100vw;
        height: 100vh;
        margin:0;
        list-style-type: none;
        position: fixed;
        animation:  0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        .header-links{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .exit{
                color:$white;
                font-size: 40px;  
                line-height: .5;
                &:hover{
                    color: $yellow;
                }
            }
            .image-container{
                width:300px;
                @include bp-small{
                    width:200px;
                }
            }
            .shopping-cart{
                width: 32px;
            }
            

        }
        .link{
            padding-top: 40px;
            li {
                font-family: 'Aleo',Georgia,"Times New Roman",serif;
                padding: 15px;
                font-size:30px;
                text-align: center; 
                text-transform: uppercase; 
                @include bp-small{
                    font-size:20px;
                }
                li a {
                    color:white;
                } 
                &:hover{
                    a{
                    color: $yellow;
                    }
                    font-size: 33px;
                    @include bp-small{
                        font-size: 22px;
    
                    }
                }
            } 
            

        }
        .social-links{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 40px;
            .social-bottom{
                width: 40px;
                margin: 0 5px;
                &:hover{
                    width:45px;
                }
            }
           

        }
    }
}

}


//  animation: slideout 1s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;




@keyframes slidein {
    0% {
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform-origin: 0% 50%;
              filter: blur(40px);
      opacity: 0;
    }
    100% {
              transform: translateX(0) scaleY(1) scaleX(1);
              transform-origin: 50% 50%;
              filter: blur(0);
      opacity: 1;
    }

    }
    
  }

//   @keyframes slideout {
//     0% {
//               transform: translateY(0) scaleY(1) scaleX(1);
//               transform-origin: 50% 0%;
//               filter: blur(0);
//       opacity: 1;
//     }
//     100% {
//               transform: translateY(-1000px) scaleY(2) scaleX(0.2);
//               transform-origin: 50% 0%;
//               filter: blur(40px);
//       opacity: 0;
//     }
// }