//Color Variables
$charcoal: #333;
$white: #fff;

$yellow:  #D5A75B ;
$white: #fff;
$blue: #4d5f8a ;
$black: black;
//Theme colors
$text_color: $charcoal;
$primary_color: $blue;
$secondary_color: $white;
//Mobile Breakpoints
$size-xx-large: 1500px;
$size-x-large: 1280px;
$size-large: 1024px;
$size-medium: 768px;
$size-small: 568px;
//Transition
$transition_duration: .5s;
//Fonts
$header-font: 'Helvetica', sans-serif;
$body-font: 'Helvetica', sans-serif;
