@import "vars.scss";
@import "mixins.scss";

#home{
    //setting for repeat elements in the document//
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
   
    @keyframes fadeTop {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        
    }
    .header-image{
        // background-image:linear-gradient(180deg,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("../img/tasting-room/wiskeyglasses.png");   
        .video-container {
            padding-bottom:56.25%;
            padding-top:30px;
            height:0;
            overflow:hidden;
        }
        
        .video-container iframe, .video-container object, .video-container embed {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
}
    
        .spirits-logo{
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
            padding-top: 50px;
            .spirit{
                display: flex;
                flex-direction: row;
                margin: 30px;
                @include bp-medium {
                    flex-direction:column;
                    align-content: center;   
                }
                @include bp-small {
                    margin:10px;
                }
                .bottle-icon{
                    max-width: 100px;
                    height: 100px;
                    align-self: center;
                    padding-bottom: 10px;
                    animation: fadeTop 1s cubic-bezier(.77,0,.175,1) 1;
                    @include bp-medium {
                        margin:0;    
                        
                    }
                }
                .drink-names{
                    text-transform: uppercase;
                    font-size: 26px;
                    margin-left: 15px;
                    align-self: center;
                    font-weight:600;
                    @include bp-medium {
                        margin-left:0;
                        text-align: center;

                    }
                }
            }
        }
    
    .home-craft{
        display:flex;
        flex-direction: row;
        @include bp-large {
            flex-direction: column;
            .hand-crafted{
                order:2;
            }
            .home-pressure-img{
                order:1;
                height: 500px;
            }
        }
        .hand-crafted{
            background-color: #4d5f8a;
            width:50%;
            padding: 150px 0 150px 200px;
            @include bp-large {
                width: 100%;
                padding: 60px 40px;
            }
            .craft{
                color: #ffffff;
                padding: 0 40px;
                @include bp-medium{
                    padding:0;
                }
            }
            .craft-p{
                padding: 0 0 20px 0;
                margin-bottom: 10px;
                padding: 0 40px;
                @include bp-medium{
                    padding:0;
                }
            }
        }
        .home-pressure-img{
            background-image: url(../img/images/brewery-homepage.png); 
            width: 50%;
            @include bp-large {
                width: 100%;
            }
        } 
    }
    .home-celebration{
        display:flex;
        flex-direction: row;
        
        @include bp-large {
            flex-direction: column;
        }
        .home-wheel{
            background-image: url(../img/images/american_gin.png); 
            width: 50%;
            @include bp-large {
                width: 100%;
                height: 500px;
            }
        }
        .home-sacramento{
            width:50%;
            background-color: white;
            padding: 150px 200px 150px 0;
            @include bp-large {
                width: 100%;
                padding: 60px 80px;
            }
            .sac {
                color: #4d5f8a;
                padding: 0 40px;
                padding-right: 200px;
                @include bp-large {
                    width: 100%;
                    padding: 0;
                     
                }
            }
            .sac-p{
                color: black;
                padding: 0 0 20px 0;
                margin-bottom: 10px;
                padding: 0 40px;
                padding-right: 200px;
                @include bp-large {
                    width: 100%;
                    padding: 0;
                    
                }
            }
           
        }
       
    }
    .tasting-room{
        background-image: linear-gradient(180deg,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%), url("../img/background/wineglassesbw.png");
        width: 100%;
        height: 520px;
        display: flex;
        justify-content: center;
        align-items: center;
        .tasting{
            max-width: 50%;
            text-align: center;
            @include bp-medium{
                max-width: 100%;
            }
            .tasting-header{
                font-family: 'Aleo',Georgia,"Times New Roman",serif;
                font-weight: 700;
                font-size: 28px;
                color: #ffffff!important;
                letter-spacing: 1px;
                line-height: 1.7em;
                padding: 0 90px; 
                text-align: center;
                @include bp-medium{
                    padding: 0 90px;
                }
                @include bp-small{
                    font-size: 32px;
                }
            }
    
                .tasting-content{
                    font-family: 'Noto Sans JP',Helvetica,Arial,Lucida,sans-serif;
                    color: #e7b560;
                    letter-spacing: 1px;
                    line-height: 1.6em;
                    margin-bottom: 40px;
                    font-weight: 500;
                    @include bp-medium{
                        padding: 0 40px;
                    }
                    @include bp-small{
                        font-size: 14px;
                    }
                }
            
        }
        
        
    }
    .home-insta{
        background-color: #4d5f8a;
        display: flex;
        flex-direction: column;
        .header-insta{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .line{
                border-top: 1px solid white;
                width: 30%;
            }
            .header{
                margin:0 10px;
                font-size: 28px;
                color: #ffffff;
                letter-spacing: 1px;
                line-height: 1.5em;
                text-align: center;
                max-width: 550px;
            }

        }
        .image-layout{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .img-container{
                width: 167px;
                height:  215px;    
            }
            
        }
       
    }
    
}