@import "vars.scss";
@import "mixins.scss";

#spirits{
    .header-image{
        background-image:linear-gradient(180deg,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("../img/spirits/spirits-pour.png");   
    }
    .products{
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: row;
        .image{
            width: 50%;
        }
        .description{
            width: 50%;
            .curbside-button{
                align-self: center;;
            }
        }
        @include bp-large {
            flex-direction: column;
            .image{
                width: 100%;
            }
            .description{
                width: 100%;
                padding: 0 40px;
                .p-bold{
                    text-align: center;
                }
                
    
        }
    }
    }
    .buy{
        background-color: #4d5f8a;
        display: flex;
        flex-direction: column;
        color: white;
        height: 200px;
        padding: 60px 25px;
        justify-content: center;
        align-items: center;
        align-content: center;
        .buy-header{
         font-size:35px;
         font-family: 'Aleo',Georgia,"Times New Roman",serif;
         font-weight: 700;
         letter-spacing: 1px;
         line-height: 0.8em;

        }
        .buy-content{
         font-size: 18px;
         font-family: 'Noto Sans JP';
        }
    }
   
}