@import "vars.scss";
@import "mixins.scss";
@import "global.scss";

#tasting-info-page{



.header-image{
    background-image:linear-gradient(180deg,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("../img/tasting-room/wiskeyglasses.png");   
}
.tasting-room{
    display: flex;
    flex-direction: row;
    @include bp-large{
        flex-direction: column;
        .content{
            order: 2;
        }
        .map-view{
            order:1;
        }
    }
    .content{
        padding: 150px 0 150px 200px;
        width:50%;
        background-color: $blue;
        @include bp-large{
           width:100%;
           padding: 40px;
        }
        .hours{
            margin: 50px 0;
            padding-bottom: 20px; 
            .header{
                font-family: 'Aleo',Georgia,"Times New Roman",serif;
                font-size: 35px;
                line-height: 1.7em;
                font-weight: 800;
                padding-right: 40px;
                @include bp-small{
                    font-size:23px;
                }
            }
            .info{
                font-weight: 300;
                font-size: 18px;
                letter-spacing: 1px;
                padding-right: 40px;
                line-height: 2;
            }
            
        }
        .directions{
            background-color: unset;
            width: 253px;
            height: 50px;
            box-shadow: unset;
            border: white 2px solid;
            font-size: 20px;
            font-weight: 500;
        }
    }
  
    .map-view{
        background-image: url("../img/tasting-room/map-location.png");
        width:50%;
        @include bp-large{
            width:100%;
            height: 450px;
        }

    }
}
} 

