@import "vars.scss";
@import "mixins.scss";

#tasting-info-page{
//repeatng elements
.background-image{
    background-size:cover; 
    background-position:center; 
    background-repeat:no-repeat; 
}
.header-image{
    background-image: url("../img/tasting-room/wiskeyglasses.png");
    height: 540px;
    }
.covid{
    font-family: 'Noto Sans JP',Helvetica,Arial,Lucida,sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%),url("../img/background/black-background.png")!important;
    padding: 60px 10%;
    background-size: cover;
    .intro{
        font-size: 19px;
        font-weight: 300;
        padding: 60px 0;
        border-top: white solid 1px;
        border-bottom: white solid 1px;
        line-height: 2;
        letter-spacing: 0.5px;
        color: #666;
        text-align: left;
        color: #ffffff;
        .gold-heading{
            color: #e7b560;
            font-size: 48px;
            font-family: 'Aleo',Georgia,"Times New Roman",serif;
            @include bp-large{
                display: block; 
            }
            @include bp-medium{
                font-size: 42px; 
            }
            @include bp-small{
                font-size: 26px;
            }
        }
    } 
}
} 

