---
title: Barrel District
layout: default
permalink: /barrel-district
css: barrel-district


intro: 
    header: RANCHO CORDOVA, CA, 
    content: is home to the fast growing Barrel District. Comprised of micro distilleries, craft breweries, and a meadery (honey wine), the Barrel District is the best place to sample local libations at their finest.<br><br>
        Whether you’re looking for a unique date night activity or a new adventure with friends, the Barrel District offers a fresh take on the local scene.<br><br>
        Stop by the Gold River Distillery tasting room for a complimentary taste and to pick up your map and information about the inaugural grand opening celebration of the Barrel District scheduled for Saturday, October 6, 2018.
button-image: '/img/logos-icons/button2.png'
brewery-locations: 
    micro-distillery:
        title: MICRO DISTILLERIES
        list:
        - name: GOLD RIVER DISTILLERY 
          location: 1160 Sunrise Gold Circle, Suite C <br>
           (916) 476-3868 
          site: GoldRiverDistillery.com
          url: https://goldriverdistillery.com/
          hours:  'Hours: Wednesday By Appointment Only, Friday 4 – 7PM, Saturday 11AM – 3PM'
        - name: J.J. PFISTER DISTILLING COMPANY 
          location: 9819 Business Park Drive 
          site: JJPfister.com 
          url: https://www.jjpfister.com/
          hours: 'Hours: Friday 3 – 6PM, Saturday 12 – 6PM'

    craft-breweries: 
        title: CRAFT BREWERIES
        list: 
        - name: CLAIMSTAKE BREWING
          location: 11366 Monier Park Place <br>
            (916) 661-5249
          site: ClaimstakeBrewing.com
          url: https://www.claimstakebrewing.com/index.html
          hours: 'Hours: Wednesday and Thursday 4 – 8PM, Friday 2 – 8PM, Saturday 12 – 8PM, Sunday 12 – 6PM'
        - name: FORT ROCK BREWING
          location: 12401 Folsom Boulevard, Suite 110 <br>
           (916) 936-4616
          site: FortRockBrewing.com
          url: https://fortrockbrewing.com/
          hours: 'Hours: Monday – Sunday 11AM – 11PM'
        - name: OLD HANGTOWN BEER WORKS
          location: 11327 Trade Center Drive, Suite 350 <br>
           (530) 919-5166
          site: Facebook.com/Old-Hangtown-Beer-Works
          url: https://www.facebook.com/Old-Hangtown-Beer-Works-112091415508385/
          hours: 'Hours: Monday – Friday 4 – 8PM, Saturday 12 – 4PM'
        - name: THIN LINE BREWING COMPANY
          location: 11354 White Rock Road <br>
           (530) 919-5166
          site: ThinLineBrewing.com
          url: https://www.thinlinebrewing.com/
          hours: 'Hours: Wednesday and Thursday 4 – PM, Friday 2-8PM, Saturday 12 – 8PM, Sunday 12 – 6'
        - name: BURNING BARREL BREWING COMPANY - COMING SOON
          location: 11210 Sun Center Drive, Suite B <br>
            (916)382-4846
          site: BurningBarrelBrewCo.com
          url: https://burningbarrel.square.site/
          hours: 'Monday – Friday, 12 – 7 PM <br>
                    Hours: Saturday – Sunday 11 AM – 7 PM'
    meadery:
        title: MEADERY
        list:
        - name: STRAD MEADERY
          location: 2539 Mercentile Drive <br>
            (916) 849-6323
          
---

<div id='barrel-district'>
    <div class='header-image background-image'>
        <div class='yellow-border'>
            <div class=white-border>
                <div class='top-right dot'></div>
                <div class='top-left dot'></div>
                <div class='bottom-right dot'></div>
                <div class='bottom-left dot'></div>
                <img class='header-img-logo' />
            </div>
        </div>
    </div>
    <div class='intro-banner-white'>
        <p class='intro-black-font'> <span class='blue-heading-main font-header span-header'>{{ page.intro.header }} </span>{{ page.intro.content }}</p>
        <a class='a-white' href='https://goldriverdistillery.com/wp-content/uploads/2020/07/map_of_the_barrel_district.pdf' target="_blank">
        <button class='button-blue' href='https://goldriverdistillery.com/wp-content/uploads/2020/07/map_of_the_barrel_district.pdf'>
          
                <div class='button-layout'>
                   <div class='button-image'> 
                       <img class='interior-cart-image' src='{{ page.button-image | relative_url }}'> 
                   </div>
                   <div class='custom'></div>
                   <div class='button-text'>download map</div>
               </div>
              </button>
            </a>
    </div>

<div class='brewery-type'>
    <h1 class='blue-heading font-header'> {{ page.brewery-locations.micro-distillery.title }}</h1>
    
    {% for item in page.brewery-locations.micro-distillery.list %}
    <div class='brewery-contact-info'>
        <h2 class='sub-header'> {{ item.name }}</h2>
        <p class='details'>{{ item.location }}</p>
        <a class='details link' href='{{ item.url }}'>{{ item.site }}</a>
    </div>
  
    {% endfor %}    
</div>
<div class='brewery-type'>
    <h1 class='blue-heading font-header'> {{ page.brewery-locations.craft-breweries.title }}</h1>
    
    {% for item in page.brewery-locations.craft-breweries.list %}
    <div class='brewery-contact-info'>
    <h2 class='sub-header'> {{ item.name }}</h2>
    <p class='details'>{{ item.location }}</p>
    <a class='details link' href='{{ item.url }}'>{{ item.site }}</a>
    </div>
  
    {% endfor %}    
</div>
<div class='brewery-type'>
    <h1 class='blue-heading font-header'> {{ page.brewery-locations.meadery.title }}</h1>
    
    {% for item in page.brewery-locations.meadery.list %}
    <div class='brewery-contact-info'>
    <h2 class='sub-header'> {{ item.name }}</h2>
    <p class='details'>{{ item.location }}</p>
    <a class='details link' href='{{ item.url }}'>{{ item.site }}</a>
    </div>
  
    {% endfor %}    
</div>
</div>
