---
title: Barrel District
layout: default
permalink: "/barrel-district"
css: barrel-district
intro:
  header: RANCHO CORDOVA, CA,
  content: is home to the fast growing Barrel District. Comprised of micro distilleries,
    craft breweries, and a meadery (honey wine), the Barrel District is the best place
    to sample local libations at their finest.<br><br> Whether you’re looking for
    a unique date night activity or a new adventure with friends, the Barrel District
    offers a fresh take on the local scene.
    
button-image: "/img/logos-icons/button2.png"
brewery-locations:
  micro-distillery:
    title: MICRO DISTILLERIES
    list:
    - name: GOLD RIVER DISTILLERY
      location: '1160 Sunrise Gold Circle, Suite C '
      site: GoldRiverDistillery.com
      url: https://goldriverdistillery.com/
      hours: 'Hours: Wednesday By Appointment Only, Friday 4 – 7PM, Saturday 11AM
        – 3PM'
      number: "(916) 476-3868"
    - name: J.J. PFISTER DISTILLING COMPANY
      location: 9819 Business Park Drive
      site: JJPfister.com
      url: https://www.jjpfister.com/
      hours: 'Hours: Friday 3 – 6PM, Saturday 12 – 6PM'
      number: ''
  craft-breweries:
    title: CRAFT BREWERIES
    list:
    - name: CLAIMSTAKE BREWING
      location: '11366 Monier Park Place '
      site: ClaimstakeBrewing.com
      url: https://www.claimstakebrewing.com
      hours: 'Hours: Wednesday and Thursday 4 – 8PM, Friday 2 – 8PM, Saturday 12 –
        8PM, Sunday 12 – 6PM'
      number: " (916) 661-5249"
    - name: FORT ROCK BREWING
      location: '12401 Folsom Boulevard, Suite 110 '
      site: FortRockBrewing.com
      url: https://fortrockbrewing.com/
      hours: 'Hours: Monday – Sunday 11AM – 11PM'
      number: "(916) 936-4616"
    - name: OLD HANGTOWN BEER WORKS
      location: '11327 Trade Center Drive, Suite 350 '
      site: Facebook.com/Old-Hangtown-Beer-Works
      url: https://www.facebook.com/Old-Hangtown-Beer-Works-112091415508385/
      hours: 'Hours: Monday – Friday 4 – 8PM, Saturday 12 – 4PM'
      number: "(530) 919-5166"
    - name: THIN LINE BREWING COMPANY
      location: '11354 White Rock Road '
      site: ThinLineBrewing.com
      url: https://www.thinlinebrewing.com/
      hours: 'Hours: Wednesday and Thursday 4 – PM, Friday 2-8PM, Saturday 12 – 8PM,
        Sunday 12 – 6'
      number: "(530) 919-5166"
    - name: 'BURNING BARREL BREWING COMPANY '
      location: '11210 Sun Center Drive, Suite B '
      site: BurningBarrelBrewCo.com
      url: https://burningbarrel.square.site/
      hours: 'Hours: Monday – Friday, 12 – 7 PM;  Saturday – Sunday 11 AM – 7 PM'
      number: "(916)382-4846"
  meadery:
    title: MEADERY
    list:
    - name: STRAD MEADERY
      location: '2539 Mercentile Drive '
      number: "(916) 849-6323"

---
<div id='barrel-district'>
    <div class='header-image background-image'>
        <div class='yellow-border'>
            <div class=white-border>
                <div class='top-right dot'></div>
                <div class='top-left dot'></div>
                <div class='bottom-right dot'></div>
                <div class='bottom-left dot'></div>
            </div>
        </div>
    </div>
    <div class='intro-banner-white'>
        <p class='intro-black-font'> <span class='blue-heading-main font-header span-header'>{{ page.intro.header }} </span>{{ page.intro.content }}</p>
        <a class='a-white' href='https://goldriverdistillery.com/wp-content/uploads/2020/07/map_of_the_barrel_district.pdf' target="_blank">
        <button class='button-blue' href='https://goldriverdistillery.com/wp-content/uploads/2020/07/map_of_the_barrel_district.pdf'>
          
                <div class='button-layout'>
                   <div class='button-image'> 
                       <img class='interior-cart-image' loading="lazy" alt=" cart image " src='{{ page.button-image | relative_url }}'> 
                   </div>
                   <div class='custom'></div>
                   <div class='button-text'>download map</div>
               </div>
              </button>
            </a>
    </div>

<div class='brewery-type'>
    <h1 class='blue-heading font-header'> {{ page.brewery-locations.micro-distillery.title }}</h1>
    
    {% for item in page.brewery-locations.micro-distillery.list %}
    <div class='brewery-contact-info'>
        <h2 class='sub-header'> {{ item.name }}</h2>
        <p class='details'>{{ item.location }}</p>
        <p class='details'>{{ item.number }}</p>
        <a class='details link' href='{{ item.url }}'>{{ item.site }}</a>
    </div>
  
    {% endfor %}    
</div>
<div class='brewery-type'>
    <h1 class='blue-heading font-header'> {{ page.brewery-locations.craft-breweries.title }}</h1>
    
    {% for item in page.brewery-locations.craft-breweries.list %}
    <div class='brewery-contact-info'>
    <h2 class='sub-header'> {{ item.name }}</h2>
    <p class='details'>{{ item.location }}</p>
    <p class='details'>{{ item.number }}</p>
    <a class='details link' href='{{ item.url }}'>{{ item.site }}</a>
    </div>
  
    {% endfor %}    
</div>
<div class='brewery-type'>
    <h1 class='blue-heading font-header'> {{ page.brewery-locations.meadery.title }}</h1>
    
    {% for item in page.brewery-locations.meadery.list %}
    <div class='brewery-contact-info'>
    <h2 class='sub-header'> {{ item.name }}</h2>
    <p class='details'>{{ item.location }}</p>
    <p class='details'>{{ item.number }}</p>
    <a class='details link' href='{{ item.url }}'>{{ item.site }}</a>
    </div>
  
    {% endfor %}    
</div>
</div>