---
title: Home Page
layout: default
permalink: /
css: home
slick: true
scripts: 
- insta
header:
  img: "/img/tasting-room/wiskeyglasses.png"
logo:
  img: "/img/logos-icons/gr_logo.png"
intro:
  header: GOLD RIVER DISTILLERY
  content: is proud to be the first legal distillery in Sacramento County since Prohibition. We're a small-batch micro distillery located in Northern California, just outside of the city of Sacramento. Our Wheel House spirits are available in a growing number of stores through out California. Find where you can buy our spirits by <a class='link-hover' href="/where-to-buy/">visiting our retail locations page.</a>
served-spirits:
  title: Spirits
  list:
    - title: Dry Gin
      logo: "/img/logos-icons/bottle_icon.jpg"
      href: "/spirits/#gin"
    - title: Absinthe
      logo: "/img/logos-icons/bottle_icon.jpg"
      href: "/spirits/#absinthe"
    - title: Bourbon
      logo: "/img/logos-icons/bottle_icon.jpg"
      href: "/spirits/#bourbon"
    - title: Whiskey
      href: "/spirits/#whiskey"
      logo: "/img/logos-icons/bottle_icon.jpg"
craft:
  header: OUR HAND-CRAFTED STILL
  content: Our hand-crafted still is a gallon small batch, side mount column still with a gin column and a vodka column. The still was designed and fabricated almost entirely by our founder and distillery, Greg Baughman, the summer before we began production. A special thanks goes out to Matt Noel and Steve Habbestad for your very special and hard to find welding skills to help us complete our project on time!
  img: "/img/images/brewery-homepage.png"

celebration:
  header: IN CELEBRATION OF THE RICH HISTORY OF THE SACRAMENTO AREA
  content: "The first spirit we introduced was a gin, one of the more popular spirits during the time of prohibition. Wheel House American Dry Gin was received with high praise, as many were excited for an alternative to the more juniper-heavy style of a London Dry gin. In response to popular demand, we have produced several more products in the Wheel House spirit family: Wheel House Sacramento Vodka, Wheel House Absinthe Verte, Wheel House Drowning Oak Corn Whiskey, Wheel House California Bourbon and Wheel House Malted Rice Whiskey."
  img: "/img/images/american_gin.png"
button-image: "/img/logos-icons/button2.png"
button-image-yellow: "/img/logos-icons/yellow-bottle.png"
tasting-room:
  header: STOP BY OUR TASTING ROOM
  content: "to check out our hand-crafted still, try our famous spirits, and pick up a few bottles for your friends and family."
  background-img: "img/background/wiskeyglasses.png"
insta:
  header: Follow us on Instagram
  list:
  - text: |-
      Here's this week's #drinkoftheweek - Death in the Afternoon<br>
      <br>
      In a champagne flute add:<br>
      1.5 oz Wheel House Absinthe<br>
      5 oz Sparkling wine<br>
      Garnish with a lemon rind<br>
      <br>
      #itsGRDtime #drinkingresponsibly #visitranchocordova #craftspirits #hemingway #cocktails
    image: /img/images/greendrink.png
    link: B_frooMAdGx
  - text: |-
      Thank you for you patiences as we work hard to make more hand sanitizer. Our sanitizer is available, and can purchased in our tasting room from 4-7 pm today, Saturday from 11-3 and Sunday from Noon-4 pm. We have a limited quantity on hand, and ask that customers limited their purchase to 5 bottles or less.<br>
      #togetherapart #flattenthecurve #handsanitizer #visitranchocordova #itsGRDtime #itsCleanHandstime
    image: /img/images/wheelhousedrink.png
    link: B_XqJnupU9Q
  - text: |- 
      #Drinkoftheweek - "shelter in" Manhattan.<br>
      In a cocktail shaker filled w/ ice add<br>
      2 oz Wheel House Malted Rice Whiskey<br>
      0.5 oz sweet vermouth<br>
      0.5 oz dry vermouth<br>
      2 dashes bitters<br>
      <br>
      Shake, strain & garnish w/ an Orange twist & Cherry<br>
      <br>
      #itsGRDtime #togetherapart #visitranchocordova
    image: /img/images/yellowdrink.png
    link: B_N7x8eghOS
  - text: |-
      Thank you for your continued support! We're working hard to keep up with the demand of our spirits and hand sanitizer.<br>
      Thank you for the kind words and support. Please check our social media posts for updates.<br>
      <br>
      #togetherapart #flattenthecurve #doingourpart #itsGRDtime
    image: /img/images/barrelroom.png
    link: B_BHrKlHHyf

---

<div id="home">
  <div class="video-container">
    <div id="yt-wrap">
      <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
      <div id="ytplayer"></div>
    </div>
    <div class="yellow-border">
      <div class="white-border">
        <div class="top-right dot"></div>
        <div class="top-left dot"></div>
        <div class="bottom-right dot"></div>
        <div class="bottom-left dot"></div>
        <div class="goldriver-logo">
          <img loading="lazy" src="{{ page.logo.img | relative_url }}" alt='GR Logo' />
        </div>
      </div>
    </div>
  </div>
  <div class="intro-banner background-image">
    <div>
      <p class="header-p">
        <span class="gold-heading span-header">{{ page.intro.header }} </span>{{
        page.intro.content}}
      </p>
    </div>
    <div class="spirits-logo">
      {% for spirit in page.served-spirits.list %}
      <a href='{{ spirit.href }}'>
      <div class="spirit">
        <img class="bottle-icon" src="{{ spirit.logo  | relative_url }}" />
        <span class="drink-names span-header">{{ spirit.title }} </span>
      </div>
    </a>
      {% endfor %}
    </div>
  </div>
  <div class="home-craft">
    <div class="hand-crafted">
      <h1 class="craft-header">{{ page.craft.header }}</h1>
      <p class="craft-p">{{ page.craft.content }}</p>
    </div>
    <div class="home-pressure-img background-image"></div>
  </div>
  <div class="home-celebration">
    <div class="home-wheel background-image"></div>
    <div class="home-sacramento">
      <h1 class="blue-header">{{ page.celebration.header }}</h1>
      <p class="paragraph-p font-paragraph">{{ page.celebration.content }}</p>
      <a href="{{ base }}/spirits/"><button class="button-blue">
        <div class="button-layout">
          <div class="button-image">
            <img
             alt='bottle logo'
             loading="lazy" 
              class="interior-cart-image"
              src="{{ page.button-image | relative_url }}"
            />
          </div>
          <div class="custom"></div>
          <div class="button-text">
            Spirits
          </div>
        </div>
      </button></a>
    </div>
  </div>
  <div class="tasting-room background-image">
    <div class="tasting">
      <h1>{{ page.tasting-room.header}}</h1>
      <p class="tasting-content">{{ page.tasting-room.content }}</p>
      <a href="{{ base }}/tasting/">
      <button class="button-yellow">
        <div class="button-layout">
          <div class="button-image">
            <img
              class="interior-cart-image"
              loading="lazy" alt="bottle-image"
              src="{{ page.button-image-yellow | relative_url }}"
            />
          </div>
          <div class="custom"></div>
          <div class="button-text">
            Tasting Room
          </div>
        </div>
      </button>
    </a>
    </div>
  </div>
  <div id="insta-section">
		<h1>{{ page.insta.header }}</h1>
    <div class="insta-slider api">
			
    </div>
    <div class="insta-slider backup hidden">
      {% for slide in page.insta.list %}
      <div class="insta-slide" data-imagefull="{{slide.image | relative_url }}" data-shortcode="{{ slide.link }}">
        <img  alt='insta image' loading="lazy" src="{{slide.image | relative_url }}" />
        <div class="slide-text hidden">{{ slide.text }}</div>
      </div>
      {% endfor %}
    </div>
    <div class="post-embed-container">
			<div class="close-embed">&times;</div>
      <div class="embed-body">
        <div class="insta-embed">
					<div class="image-col">
						<a class="insta-link" href=""><img  loading="lazy" class="insta-image" src="" alt="" /></a>
					</div>
					<div class="text-col">
						<div class="insta-caption"></div>
						<a class="insta-link" href=""><i class="fab fa-instagram"></i>View on Instagram</a>
					</div>
				</div>
      </div>
    </div>
  </div>
</div>
