---
title: Spirits
layout: default
permalink: /spirits
css: spirits


header:
    img: "/img/spirits/spiritslogo.png"
about:
    header: OUR SMALL BATCH SPIRITS
    content: are distilled and bottled in-house at Gold River Distillery in Rancho Cordova, California - the first legal distillery in Sacramento County since prohibition.

buy: WHERE TO BUY
button-image: '/img/logos-icons/bottle-white.png'
buy-info: Gold River Distillery spirits are available at several locations. Click learn more to find a full list of where you can buy our products.

medals: 
    title: MORE EXCITING SPIRITS ARE IN THE PROCESS OF DEVELOPMENT!
    list:
    - medal-img: 
      name: WHEEL HOUSE AMERICAN DRY GIN
      type: Gold Medal <br>The Fifty Best Gin <br>2015
      img: '/img/spirits/bestgin.png'
    
    - medal-img: 
      name: WHEEL HOUSE SACRAMENTO VODKA
      type: Silver Medal <br>The Fifty Best Vodka <br>2015
      img: '/img/spirits/silvervodka.png'



---
<div id="spirits">
    <div class='header-image background-image'> 
        <div class='yellow-border'>
            <div class=white-border>
                <div class='top-right dot'></div>
                <div class='top-left dot'></div>
                <div class='bottom-right dot'></div>
                <div class='bottom-left dot'></div>
                <img class='header-img-logo' />
                <h1 class= 'black-arcade-header'>SPIRITS</h1>
            </div>
        </div>
    </div>
    <div class='intro-banner background-image'>
        <div> <p class='header-p'> <span class='gold-heading span-header'>{{ page.about.header }} </span>{{ page.about.content}}</p>
    </div>
     </div>
     <div class='content'>
     <div class='products'>
        {% assign products = site.products | group_by:'list' %}
        {% for list in products %}
        <dt id='{{ list.name }}' style='visibility:hidden'>{{ list.name }}</dt>
        {% for product in list.items %}
        <span itemscope itemtype="http://schema.org/Product" class="microdata">
            <meta itemprop="image" content="{{ product.img | relative_url }}">
            <meta itemprop="name" content="{{ product.title }}">
            <meta itemprop="description" content="{{ product.content }}">
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <meta itemprop="price" content="{{ product.price }}">
              <meta itemprop="priceCurrency" content="USD">
            </span>
          </span>
        <div class='product-layout'>
         <div class='image'> <img loading="lazy" alt="product image" src='{{ product.img | relative_url }}' ></div>
         <div class='description'>
             <h1 class='blue-header font-header'>{{ product.title }}</h1>
             <p class='paragraph-p font-paragraph'>{{ product.content | markdownify }}</p>
             <p class='p-bold font-paragraph'>${{ product.price }}</p>
             <button class='snipcart-add-item button-yellow'
             data-item-id="{{ product.title }}"
             data-item-price="{{ product.price }}"
             data-item-url="{{ site.prod-url }}{{ product.url }}"
             data-item-image="{{ product.img | relative_url }}"
             data-item-description="{{ product.content }}"
             data-item-name="{{ product.title }}"
             data-item-shippable= 'false'
             >
                 <div class='button-layout'>
                    <div class='button-image'> 
                        <img class='interior-cart-image' loading="lazy" alt="cart image" src='/img/logos-icons/cart.png'> 
                    </div>
                    <div class='custom'></div>
                    <div class='button-text'>Curbside pickup</div>
                </div>
            </button>
         </div>
        </div>
       
        {% endfor %}
         {% endfor %}   
     </div>
    </div>
     <div class='buy'>
        <h1 class='buy-header'>{{ page.buy }}</h1>
        <p class='buy-content'> {{ page.buy-info }}</p>
        <button class='button-white'>
            <div class='button-layout'>
               <div class='button-image'> 
                   <img class='interior-cart-image' loading="lazy" alt="bottle-image" src='{{ page.button-image | relative_url }}'> 
               </div>
               <div class='custom'></div>
               <div class='button-text' ><a  style='color:#4d5f8a' href="{{ '/where-to-buy' | relative_url }}">Learn More</a></div>
           </div>
       </button>
     </div>
    
    

    <div class='medals header-image background-image'>
        <h1 class='medals-header'>{{ page.medals.title }}</h1>
        <div class='main-medals-layout'>
        {% for medal in page.medals.list %}
        <div class='medal'>
            <h1 class='medal-name'>{{ medal. name }}</h1>
            <div class='medal-type'> {{ medal.type }}</div> 
            <div class='medal-img'><img  loading="lazy" alt="medals" src="{{ medal.img | relative_url }}"></div>
             
        </div>
        {% endfor %}  
    </div>
    
       

    </div>

<div>
