<footer id="site-footer">
    <div class=outter-content>
      <div class='logo'> {% include footer-logo.html %}</div>
     
      <div class='links'>
          <a>GOLD RIVER DISTILLERY</a>
          <a>TASTING ROOM</a>
          <a>SPIRITS</a>
          <a>BARREL DISTRICT</a>
          <a>PRIVATE LABELING</a>
      </div>
      <div class='location'>
          <p>11460 SUNRISE GOLD CIR. C </p>
          <p>RANCHO CORDOVA, CA</p>
          <p>95742</p>
          <p>(916) 476-3868</p>
      </div>
      <div class='social'>
          <p>FOLLOW US ON</p>
          <div class='social-icons'> {% include social-links.html %}</div>
          <p>BAUGHMAN SPIRITS AND BEVERAGE, LLC</p>
          <p>ALL RIGHTS RESERVED 2020</p>
      </div>
  
    </div>
    <div class='governmentWarning'>
        <p class='warning'> <b style='color: white'>GOVERNMENT WARNING:</b> (1) According to the Surgeon general, women should not drink alcoholic beverages during pregnancy because of the risk of birth defects. (2) Consumption of alcoholic beverages impairs your ability to drive a car or operate machinery, and may cause health problems.</p>
    </div>
  </footer>