<nav id='nav'>
    <div class='button'>{% include nav-logo.html %}</div>
    <div class='large-nav'>
        <div class='link-large'>
            <li ><a class='large-link'href="{{ '/' | relative_url }}">HOME</a></li> 
            <li > <a class='large-link'href="{{ '/tasting' | relative_url }}">Tasting Room </a></li> 
            <li ><a class='large-link' href="{{ '/spirits' | relative_url }}">Spirits</a></li> 
            <li ><a class='large-link' href="{{ '/barrel-district' | relative_url }}">Barrel District</a></li> 
            <li ><a class='large-link' href="{{ '/private-labeling' | relative_url }}">Private Labeling</a></li> 
            <li ><a class='large-link' href="{{ '/where-to-buy' | reltaive_url }}">Where to Buy</a></li> 
            <span class='snipcart-checkout'><span class='snipcart-items-count'></span><i class="fa fa-shopping-cart "></i></span>
           </div>

    </div>
    
    <div class='dropdown-menu' id='sidenav' onclick="lockScroll()">
        <div>{% include hamburger.html %}</div>
        <ul class='disabled'style='display:none' >
            <div class='header-links'>
                <div onclick="unlockScroll()"><a class="exit" id='1' onclick="unlockScroll()"> &times</a></div>
                <div class='snipcart-checkout'><span class='snipcart-items-count'></span><i class="fa fa-shopping-cart "></i></div>
                
            </div>
            <div class='image-container'><img src="{{ '/img/logos-icons/gr_logo.png' | relative_url }}"></div>
           <div class='link'>
            <li><a href="{{ '/' | relative_url }}">HOME</a></li> 
            <li> <a href="{{ '/tasting' | relative_url }}">Tasting Room </a></li> 
            <li><a href="{{ '/spirits' | relative_url }}">Spirits</a></li> 
            <li><a href="{{ '/barrel-district' | relative_url }}">Barrel District</a></li> 
            <li><a href="{{ '/private-labeling' | relative_url }}">Private Labeling</a></li> 
            <li><a href="{{ '/where-to-buy' | reltaive_url }}">Where to Buy</a></li> 
           </div>
            <div class='social-links'>
            <div><a href="https://twitter.com/goldrdistillery"><img class='social-bottom' src="{{ '/img/logos-icons/twitter.png' | relative_url }}"></a></div> 
            <div><a href="https://www.instagram.com/goldriverdistillery/"><img class='social-bottom' src="{{ '/img/logos-icons/instagram.png' | relative_url }}"></a></div> 
            <div><a href="https://www.instagram.com/goldriverdistillery/"><img class='social-bottom' src="{{ '/img/logos-icons/facebook.png' |relative_url }}"></a></div> 
            </div>
        </ul>

    </div>
    
</nav>