<nav>
    <div>{% include nav-logo.html %}</div>
    <div class='dropdown-menu'>
        <div>{% include hamburger.html %}</div>
        <ul>
            <li><a href="{{ base }}/">Gold River Distillery</a></li> 
            <li> <a href="{{ base }}/tasting/">Tasting Room </a></li> 
            <li><a href="{{ base }}/spirits/">Spirits</a></li> 
            <li><a href="{{ base }}/barrel-district/">Barrel District</a></li> 
            <li><a href="{{ base }}/private-labeling/">Private Labeling</a></li> 
            <li><a href="{{ base }}/where-to-buy/">Where to Buy</a></li> 
            <li><a href="#">Twitter</a></li> 
            <li><a href="#">Insta</a></li> 
            <li><a href="#">Shopping Cart </a></li> 

        </ul>

    </div>
    
</nav>