
<a href='https://mobile.twitter.com/goldrdistillery'> 
    <img  class='social-logo' loading="lazy" alt="twitter" src= "{{ '/img/logos-icons/twitter.png' | relative_url }}">
    <img class='social-logo' loading="lazy" alt="twitter" src="{{ '/img/logos-icons/twitter-yellow.png' | relative_url}}">
</a>
<a href='https://www.instagram.com/goldriverdistillery/'> 
    <img  class='social-logo' loading="lazy" alt="instagram" src= "{{ '/img/logos-icons/instagram.png' | relative_url }}">
    <img class='social-logo' loading="lazy" alt="instagram"  src="{{ '/img/logos-icons/instagram-yellow.png' | relative_url}}">
</a>
<a href='https://m.facebook.com/goldriverdistillery'> 
    <img  class='social-logo' loading="lazy" alt="facebook" src= "{{ '/img/logos-icons/facebook.png' | relative_url }}">
    <img class='social-logo' loading="lazy" alt="facebook" src="{{ '/img/logos-icons/facebook-yellow.png' | relative_url}}">
</a>