---
layout: compress
scripts: 
- site_functions
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% if site.gtm %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}
    <!---nav --->
    {% include nav.html %}
    <!-----Ovelay-->
    {% include prompt-overlay.html %}
    <!---Content-->
    {{ content }}
    <!-----Footer-->
    {% include footer.html %}
    <!-- Scripts -->
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script async defer src="https://www.instagram.com/embed.js"></script>
    <script src="https://www.youtube.com/player_api"></script>
    <!-- Snipcart -->
    <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.23/default/snipcart.css" />
    <script async src="https://cdn.snipcart.com/themes/v3.0.23/default/snipcart.js"></script>
    <div id="snipcart" data-api-key="{{ site.prod-key }}" hidden></div>
    <!-- Cookies -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <!-- Slick js -->
    
    {% if page.slick == true %}
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    {% endif %}
    <!-- Layout -->
    {% if layout.scripts %}
    {% for script in layout.scripts %}
    {% capture script-path %}/js/min/{{ script }}.min.js{% endcapture %}
    <script src="{{ script-path | relative_url }}"></script>
    {% endfor %}
    {% endif %}
    <!-- Page -->
    {% if page.scripts %}
    {% for script in page.scripts %}
    {% capture script-path %}/js/min/{{ script }}.min.js{% endcapture %}
    <script src="{{ script-path | relative_url }}"></script>
    {% endfor %}
    {% endif %}
    <!-- End Scripts -->
</body>
</html>
