---
layout: default
css: product
---
<div id='product'>
    <div class='header-image background-image' loading="lazy" alt="background-image"> 
        <div class='yellow-border'>
            <div class=white-border>
                <div class='top-right dot'></div>
                <div class='top-left dot'></div>
                <div class='bottom-right dot'></div>
                <div class='bottom-left dot'></div>
                <img class='header-img-logo' />
            </div>
        </div>
    </div>
<div class='products'>
    {% assign product = page %}
      <div class='product-layout'>
       <div class='image'> <img loading="lazy" alt="product image"src='{{ product.img | relative_url }}' ></div>
       <div class='description'>
           <h1 class='blue-header font-header'>{{ product.title }}</h1>
           <p class='paragraph-p font-paragraph'>{{ product.content }}</p>
           <p class='p-bold font-paragraph'>${{ product.price }}</p>
           <button class='snipcart-add-item button-yellow'
           data-item-id="{{ product.title }}"
           data-item-price="{{ product.price }}"
           data-item-url="{{ site.url }}{{ product.url }}"
           data-item-image="{{ product.img | relative_url }}"
           data-item-description="{{ product.content }}"
           data-item-name="{{ product.title }}"
           data-item-shippable= 'false'
           >
               <div class='button-layout'>
                  <div class='button-image'> 
                      <img class='interior-cart-image' loading="lazy" alt="shopping-cart" src='{{ product.button-img | relative_url }}'> 
                  </div>
                  <div class='custom'></div>
                  <div class='button-text'>{{ product.button }} </div>
              </div>
          </button>
       </div>
      </div>
      
   </div>

</div>