---
layout: default
css: product
---
<div id='product'>
<section>
<div class='products'>
    {% assign product = page %}
      <div class='product-layout'>
       <div class='image'> <img src='{{ product.img | relative_url }}' ></div>
       <div class='description'>
           <h1 class='blue-header font-header'>{{ product.title }}</h1>
           <p class='paragraph-p font-paragraph'>{{ product.content }}</p>
           <p class='p-bold font-paragraph'>${{ product.price }}</p>
           <button class='snipcart-add-item button-yellow'
           data-item-id="{{ product.title }}"
           data-item-price="{{ product.price }}"
           data-item-url="{{ site.url }}{{ product.url }}"
           data-item-image="{{ product.img | relative_url }}"
           data-item-description="{{ product.content }}"
           data-item-name="{{ product.title }}"
           data-item-shippable= 'false'
           >
               <div class='button-layout'>
                  <div class='button-image'> 
                      <img class='interior-cart-image' src='{{ product.button-img | relative_url }}'> 
                  </div>
                  <div class='custom'></div>
                  <div class='button-text'>{{ product.button }} </div>
              </div>
          </button>
       </div>
      </div>
       {% endfor %}   
   </div>
</section>
</div>